@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
.site-header.float-header #mainnav ul li a,
.site-header.float-header #mainnav ul li::before {
    color: yellow;
}

.topnav {
    background: black;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
}

.topnav a {
    display: inline-block;
    color: white;
    /*text*/

    float: top;
    text-transform: uppercase;
    padding: 8px 40px;
    margin: 10px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-seri;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: blue;
    color: black;
}
section {
    width: 100%;
}
section .content {
    width: 70%;
    margin: 0 auto;
}
@media(max-width: 700px) {
    section .content {
        width: 95%;
    }
}
section .content .sam {
    letter-spacing: 0.1em;
    line-height: 1.75em;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    font-size: 34pt;
    color: #951856;
}
@media(max-width: 700px) {
    section .content .sam {
        font-size: 20pt;
    }
}

.teampict img {
    border: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.4rem;
    font-family: arial;
    background-color: #ddd;
}
#team {
    background-color: #A07F9E;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;

    #sponsors {
        background-color: #C69DD2;
        color: black;
        height: 100%;
    }
    #socialmedia {
        background-color: #81547E;
    }
    .regbutton {
        width: 275px;
        margin: 0 auto;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #951856;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.8em;
        text-align: center;
        transition: all 0.25s;
    }
    .regbutton.parent {
        width: 400px;
        font-size: 1.5em;
    }
    .under {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .under .regbutton {
        flex: 100px;
        margin: 5px;
        margin-top: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #951856;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.3em;
        transition: all 0.25s;
    }
    @media(max-width: 700px) {
        .under {
            flex-wrap: wrap;
        }
        .under .regbutton {
            flex: 150px;
            margin: 5px;
            margin-top: 15px;
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid #951856;
            border-radius: 5px;
            padding: 10px;
            font-size: 1.3em;
            transition: all 0.25s;
        }
    }
    #signup .regbutton {
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .regbutton:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border-radius: 2px;
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        /*width: 70%;*/
        /*align-content: left;*/

        flex-wrap: wrap;
        /*margin-left: 20%;*/
    }
    .img-circle {
        border-radius: 50%;
    }
    .flex-box {
        flex: 50%;
        margin-bottom: 50px;
        padding: 5px;
    }
    @media(max-width: 700px) {
        section .flex-box {
            flex: 100%;
            margin-bottom: 15px;
        }
    }
    .flex-box p {
        padding: 5px;
    }
    @media(max-width: 700px) {
        .flex-box p {
            padding: 0px;
        }
    }
    .name,
    .role {
        width: 180px;
        text-align: center;
    }
    .subtitle {
        font-size: 18pt;
        font-weight: 700;
        letter-spacing: 0.5em;
        line-height: 1.75em;
        text-transform: uppercase;
        text-align: center;
        color: #191970;
        padding: 10px 0 10px 0;
    }
    @media(max-width: 700px) {
        .subtitle {
            font-size: 14pt;
        }
    }
    .icons {
        text-align: center;
    }
    .apps {
        text-align: center;
        margin-bottom: 20px;
    }
    table {
        border-collapse: collapse;
        margin: 0 auto;
        border: 1px dotted black;
        width: 50%;
    }
    table.workshops {
        width: 65%;
    }
    @media(max-width: 700px) {
        table {
            width: 100%;
        }
        table.workshops {
            width: 100%;
        }
        .image {
            width: 300px !important;
            height: auto !important;
        }
    }
    table tr th:nth-child(1),
    table tr th:nth-child(2) {
        border-right: 1px dotted black;
    }
    table tr td:nth-child(1),
    table tr td:nth-child(2) {
        border-right: 1px dotted black;
    }
    td,
    th {
        text-align: center;
        padding: 15px;
    }
    .role,
    .name {
        text-align: center;
    }
    .row {
        text-align: center;
    }
    .row a:hover {
        text-decoration: none;
    }
    .row .sponsor img {
        padding: 2vw;
        vertical-align: middle;
    }
    .row.host .sponsor img {
        max-width: 50%;
        height: auto;
    }
    .row.gold .sponsor img {
        max-width: 24%;
        height: auto;
    }
    .row.gold .sponsor.vertical img {
        max-height: 230px;
        height: auto;
    }
    @media (max-width: 600px) {
        .row.gold .sponsor.vertical img {
            max-height: none;
            width: 35% !important;
        }
    }
    .row.silver .sponsor,
    .row.bronze .sponsor {
        max-width: 25%;
    }
    .row.partner .sponsor img {
        width: 33%;
        height: auto;
    }
    .row.partner .sponsor.ms img {
        max-width: 20%;
        height: auto;
    }
    @media (max-width: 600px) {
        .row.partner .sponsor.ms img {
            max-height: none;
            width: 45% !important;
        }
    }
    @media (max-width: 600px) {
        .row .sponsor img {
            max-width: 75% !important;
            width: 75% !important;
            height: auto !important;
            padding-bottom: 6vw;
        }
    }
