html, body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F4F4F4;
  font-size: 1.1em; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      color: inherit;
      text-decoration: none; }

#myTopnav {
  z-index: 100; }

#header {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative; }
  #header .logo {
    flex: 40%;
    width: 40%;
    text-align: center; }
    #header .logo .date {
      text-align: center;
      font-size: 2.4em;
      color: #B53C76; }
  #header .content {
    flex: 50%;
    width: 50%; }
    #header .content .images img {
      width: 100%;
      box-shadow: 0px 0px 20px grey; }
    #header .content .more {
      text-align: center; }
  #header #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  #header #particles-js .background {
    display: block;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 80%;
    height: 90%; }
  #header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    background-color: transparent; }
    #header .arrow path {
      fill: #D194D2; }

#info {
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 8vh;
  background-color: #D194D2; }
  #info .title {
    flex: 100%;
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 40px; }
  #info .content {
    display: flex; }
    #info .content .quote {
      width: 50%;
      flex: 50%;
      font-size: 1.4em;
      display: inline-block; }
      #info .content .quote .author {
        color: #008BEE;
        font-size: 0.95em; }
    #info .content .stats {
      width: 50%;
      flex: 50%; }
      #info .content .stats .stat .value {
        color: #4C2887;
        font-size: 3em;
        padding-right: 10px; }
      #info .content .stats .stat .text {
        vertical-align: super;
        font-size: 1.5em; }
    @media (max-width: 700px) {
      #info .content {
        display: block; }
        #info .content > div {
          flex: 90% !important;
          width: 90% !important; } }
  #info .arrow {
    position: absolute;
    bottom: -10vh;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #F4F4F4; }
    #info .arrow path {
      fill: #D194D2; }

#mission {
  overflow: hidden; }
  #mission .content {
    font-size: 1.3em; }
  #mission .images {
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    #mission .images img {
      display: block;
      width: 25%;
      height: auto; }

#faq {
  background-color: #C69DD2;
  padding-bottom: 30px; }
  #faq .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    #faq .flex-container .flex-box {
      flex: 45%;
      width: 45%;
      background-color: #F4F4F4;
      margin: 10px;
      padding: 15px;
      box-shadow: 0 0 15px grey;
      border-radius: 2px; }
      #faq .flex-container .flex-box .icons {
        text-align: center; }
      #faq .flex-container .flex-box .subtitle {
        text-align: center;
        font-size: 1.4em; }

#team .content {
  width: 80%;
  margin: 0 auto; }
  #team .content .teampic {
    display: flex;
    flex-wrap: wrap; }
    #team .content .teampic .member {
      flex: 21%;
      width: 21%;
      text-align: center;
      margin-bottom: 20px; }
      #team .content .teampic .member .name {
        font-size: 1.2em; }
      #team .content .teampic .member .crop {
        width: 18vw;
        max-width: 300px;
        height: 18vw;
        max-height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 10px; }
      #team .content .teampic .member .crop img {
        width: 100%;
        margin-top: 10%;
        min-width: 18vw;
        min-height: 18vw; }
    @media (max-width: 800px) {
      #team .content .teampic .member {
        flex: 27%;
        width: 27%; }
        #team .content .teampic .member .crop {
          width: 25vw;
          height: 25vw; }
        #team .content .teampic .member .crop img {
          min-width: 21vw;
          min-height: 21vw; } }

#sponsors .row {
  text-align: center; }
#sponsors .row a:hover {
  text-decoration: none; }
#sponsors .row .sponsor img {
  padding: 2vw;
  vertical-align: middle; }
#sponsors .row.host .sponsor img {
  max-width: 50%;
  height: auto; }
#sponsors .row.gold .sponsor img {
  max-width: 24%;
  height: auto; }
#sponsors .row.gold .sponsor.vertical img {
  max-height: 230px;
  height: auto; }
@media (max-width: 600px) {
  #sponsors .row.gold .sponsor.vertical img {
    max-height: none;
    width: 35% !important; } }
#sponsors .row.silver .sponsor, #sponsors .row.bronze .sponsor {
  max-width: 25%; }
#sponsors .row.partner .sponsor img {
  width: 33%;
  height: auto; }
#sponsors .row.partner .sponsor.ms img {
  max-width: 20%;
  height: auto; }
@media (max-width: 600px) {
  #sponsors .row.partner .sponsor.ms img {
    max-height: none;
    width: 45% !important; } }
@media (max-width: 600px) {
  #sponsors .row .sponsor img {
    max-width: 75% !important;
    width: 75% !important;
    height: auto !important;
    padding-bottom: 6vw; } }

#socialmedia .content .subscribe {
  text-align: center;
  margin-bottom: 20px; }
  #socialmedia .content .subscribe .email {
    outline: none;
    border: 0px;
    padding: 7px;
    font-size: 1.1em;
    width: 275px;
    transition: all 0.40s;
    margin-bottom: 8px; }
    #socialmedia .content .subscribe .email.error {
      border: 1px solid red; }
  #socialmedia .content .subscribe .button {
    outline: none;
    border: 0px;
    background-color: white;
    padding: 10px;
    font-size: 1em;
    display: inline-block;
    transition: all 0.40s; }
    #socialmedia .content .subscribe .button span {
      width: 5.62em;
      display: block;
      overflow: hidden;
      transition: all 0.4s; }
    #socialmedia .content .subscribe .button:hover {
      background-color: black;
      color: white; }
    #socialmedia .content .subscribe .button.subscribed {
      background-color: black;
      color: white; }
      #socialmedia .content .subscribe .button.subscribed span {
        width: 6.3em; }

/*# sourceMappingURL=style.css.map */
